/*List all the id's here*/

/*email address -> id = email_address*/

/*phone number -> id = phone_number*/

/*date of birth -> id = dob*/
/*adding linear gradient for background*/

/*creating stylistic elements for the box*/

/*Create a second CSS file to style the form between a scroll friendly mobile first
version, and a sectioned desktop version*/
/*Media query for mobile*/
@media (min-width: 320px) {
	.box {
		width: 100%; 
        height: auto; 
        margin: 0;
    }

    label {
        font-size: 20px; 
    }

    input {
        width: 100%;
    }
}

/*Media query for Desktop*/
@media (min-width: 1025px) {
	.box {
        width: 600px; 
        height: 300px;
        margin: 10px; 
        margin-top: 20px;
    }
}

.box {
    width: 600px; 
    height: 300px;
    border: 1px solid;
    padding: 10px;
    margin: 10px;
    margin-top: 20px;
}


body {
	background-color: #CBC3E3;
	padding: 20px;
}

h1{
	text-align: center;
	font-size: 40px;
	font-family: 'Young Serif', sans-serif;
}

/*updating formatting for label*/
label {
	font-size: 25px;
	font-family: 'Young Serif', sans-serif;
	margin-top: 20px;
}

input{
	height: 35px;
	width: 50%;
	border-radius: 0.625em;
	box-sizing: border-box;
	border-style: solid;
	width: 50%;
	margin-top: 10px;
	margin-bottom: 10px;

}

/*adding adjustments for submit button*/
#submit-button {
	margin-top: 2%;
}