/*List all the id's here*/

/*email address -> id = email_address*/

/*phone number -> id = phone_number*/

/*date of birth -> id = dob*/
/*adding linear gradient for background*/

body {
	background-color: #CBC3E3;
}

h1{
	text-align: center;
	font-size: 40px;
	font-family: 'YoungSerif', sans-serif;
}

/*updating formatting for label*/
label {
	font-size: 25px;
}

input{
	height: 35px;
	width: 50%;
}

/*Use the Young Serif font 

/*adding adjustments for submit button*/
#submit-button {
	margin-top: 3%;

}
